@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:ital@1&family=Poppins&family=Sofia&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 66.2%;
}
body {
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  margin: 0;
}
button {
  width: 50px;
  outline: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}

.mobile-container {
  background-color: #fff;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
}
header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: rgba(221, 173, 219, 0.322);
  padding: 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  width: 85px;
  margin: auto;
}

.fav-meals li img {
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  border: 2px solid #fff;
  object-fit: cover;
  height: 75px;
  width: 75px;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body button {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  font-size: 1.2rem;
}
.meal-body svg.active {
  stroke: none;
  fill: rgb(224, 18, 69);
}
