@import url("https://fonts.googleapis.com/css2?family=Allan&family=Montserrat:ital@1&family=Poppins&family=Sofia&display=swap");

* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}

button.active {
  transform: translateX(104px);
  /* transform: translateX(-100%); will make it come from the left if position is set to right */
}

nav {
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem;
  transform: translateX(-100%);
  /* transform: translateX(-100%); will make it come from the left if position is set to right */
  transition: transform 0.3s ease-in-out;
}

nav.active {
  transform: translateX(0);
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

nav ul li {
  padding: 1rem 0;
}

nav a {
  color: white;
  text-decoration: none;
}
